@charset "utf-8";
/* 
    e-Portfolio
    WEBD5000 - Final Project
    style page for skills' page

    Author: Yuqing
    Date: Oct 23, 2023
 */


html {
   background-color: rgb(16, 19, 33);

}

body {
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(16, 19, 33);
   color: white;
}

#resume {
   margin: 40px 300px 40px 300px;
}

h1,
.header,
.header p {
   text-align: center;
}

.header {
   margin: 100px 40px 40px 40px;
}

h2 {
   color: rgb(145, 210, 224);
}

h2#name {
   color: white;
}

#resume li {
   font-size: 1.2em;
   margin: 5px 0 5px 40px;
   text-align: justify;
}

p {
   font-size: 1.1em;
}

/* mobile style */
@media only screen and (max-width:480px) {

   h1 {
      font-size: 1.4em;
   }

   #resume {
      margin: 25px;
      font-size: 0.7em;
   }

   #resume li {
      margin-left: 0;
   }

   .header {
      margin: 60px 40px 40px 40px;
   }
}

/* tablet style */
@media only screen and (min-width:481px) and (max-width:768px) {
   h1 {
      font-size: 1.6em;
   }

   #resume {
      margin: 40px;
      font-size: 0.9em;
   }

   .header {
      margin: 60px 40px 40px 40px;
   }
}